{% extends 'base.html' %} {% block body %}

<!-- header-->
<header class="bg-cover hero-img">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h6 class="text-white text-uppercase">
          design Driven for professional
        </h6>
        <h1 class="display-3 my-4">We craft digital<br />experiances</h1>
        <a href="#" class="btn btn-brand">Get Started</a>
        <a href="#" class="btn btn-outline-light ms-3">Our work</a>
      </div>
    </div>
  </div>
</header>
<!--About-->

{% endblock %}
