{% extends 'base.html' %} {% block body %}

<!-- header-->
<header class="bg-cover hero-img">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h6 class="text-white text-uppercase">
          design Driven for professional
        </h6>
        <h1 class="display-3 my-4">We craft digital<br />experiances</h1>
        <a href="{% url 'booking' %}" class="btn btn-brand" role="button"
          >Online Booking</a
        >
      </div>
    </div>
  </div>
</header>
<!--About-->

{% endblock %}
