{% extends 'base.html' %} {% block body %}

<!-- header-->
<header class="bg-cover hero-img">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h6 class="text-white text-uppercase">
          design Driven for professional
        </h6>
        <h1 class="display-3 my-4">We craft digital<br />experiances</h1>
        <a href="{% url 'booking' %}" class="btn btn-dark" role="button"
          >Online Booking</a
        >
      </div>
    </div>
  </div>
</header>
</header>
<!--About-->
<section id="about">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="intro">

                    <h1>Why Choose PROBIZ?</h1>
                    <p class="mx-auto">As a leading business consultancy, we take pride in offering tailored solutions
                        that cater to the specific needs of your company. Our value proposition lies in delivering
                        results that make a real difference. Here's what sets us apart :</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 py-5">
                <div class="row">

                    <div class="col-12 mt-4">
                        <div class="info-text">
                            <div class="ms-4">
                                <h5><span>Customized Strategies:</span></h5>
                                <p> We understand that every business is unique, which is why we don't believe in a
                                    one-size-fits-all approach. Our experts take the time to understand your business
                                    inside out, crafting customized strategies that align with your vision and
                                    objectives </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-text">
                            <div class="ms-4">
                                <h5><span>Industry Expertise : </span> </h5>
                                <p>With years of experience across various industries, our consultants bring valuable
                                    insights and expertise to the table. We stay up-to-date with the latest market
                                    trends and best practices, ensuring that you stay ahead of the competition.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <div class="info-text">

                            <div class="ms-4">
                                <h5><span>Proven Track Record : </span></h5>
                                <p>Our track record speaks for itself. We have helped numerous businesses, just like
                                    yours, overcome challenges and achieve remarkable success. Our clients' success
                                    stories are a testament to our dedication and commitment to excellence</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="info-text">

                            <div class="ms-4">
                                <h5><span>Innovative Solutions : </span></h5>
                                <p> We embrace innovation and creative problem-solving. Our team thrives on finding
                                    unique solutions to complex business challenges, propelling your company towards
                                    growth and sustainability. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <img class="custom-about-img" style="width: 100%;" src="media/pexels-mikael-blomkvist-6476245.jpg" alt="">
            </div>
        </div>

    </div>
    </div>
</section>
<!-- MILESTONE -->
<section id="milestone">
    <div class="container">
        <div class="row text-center justify-content-center gy-4">
            <div class="col-lg-4 col-sm-6">
                <h1 class="display-4">90K+</h1>
                <p class="mb-0">Happy Clients</p>
            </div>

            <div class="col-lg-4 col-sm-6">
                <h1 class="display-4">380K</h1>
                <p class="mb-0">YouTube Subscribers</p>
            </div>
        </div>
    </div>
</section>
<!--services-->
<section id="services" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro ">
                    <h2>OUR SERVICES</h2>

                    <p class="mx-auto">Your success is our top priority. Whether you are looking to expand your market
                        presence, optimize your operations,
                        or enhance your leadership capabilities, we are here to support you every step of the way.</p>
                </div>
            </div>
        </div>
        <div class="row g-5 ">
            <div class="col-lg-4 col-md-6">
                <div class="service ">

                    <h5>Business Strategy Development</h5>
                    <p>Tailored strategies for clarity, advantage, and resource optimization in Business Strategy
                        Development.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">

                    <h5>Financial Planning and Analysis</h5>
                    <p>Achieve financial stability, profitability, and security with Financial Planning and Analysis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">

                    <h5>Market Research and Analysis</h5>
                    <p>Uncover insights, identify opportunities, and ensure informed decisions through Market Research
                        and Analysis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service">

                    <h5>Process Optimization</h5>
                    <p>Streamline operations, boost productivity, and enhance customer satisfaction with Process
                        Optimization</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">

                    <h5>Change Management</h5>
                    <p>Navigate change, engage employees, and achieve sustainable growth with Change Management</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">

                    <h5>Leadership Development</h5>
                    <p>Empower leaders, retain talent, and foster organizational resilience through Leadership
                        Development</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
