{% extends 'base.html' %}

{% block body %}



{% if user.is_authenticated %}
<h1 class="p-2 text-center mb-5 text-warning">You Are Already Signed in!</h1>

{% else %}


<div class="bg-white ">
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
        <h1 class="text-black p-3 ">Sign Up</h1>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
            </br>
            <label class="form-label fs-3 mt-5">Already Have An Account?</label>
            </br>
            <a href="{% url 'login' %}" class="btn btn-dark">Sign in</a>
        </form>
    </div>
    <br /><br /><br />
</div>
{% endif %}
{% endblock %}